.header {
    background: #ffffff;
}

.header__inner {
    padding: 20px 15px;
    max-width: 1500px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    margin-left: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #000000;
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
    cursor: pointer;
}

main {
    background-color: #ebebeb;
}

footer {
    width: 1500px;
    text-align: center;
    padding: 15px 0;
    background-color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}
